* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    min-height: 100vh;
}
body {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #262626;
    background-color: #d8bb8f;
}
button {
    width: 90px;
    height: 40px;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}
#modal {
    width: 250px;
    height: 150px;
    background-color: #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid grey;
    position: fixed;
    top: 40%;
    left: 40%;
}

#modal p {
    margin-bottom: 40px;
}

.content-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.traffic-lights {

    width: 60px;
    height: 176px;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-radius: 5px;
}
.light {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 3px solid #d3d3d3;
    background-color: #808080;
}
.off {
    background-color: #555;
}
.red {
    background-color: #ff0000;
}
.yellow {
    background-color: #ffff00;
}
.green {
    background-color: #008000;
}
.traffic-lights-btn {
    border-radius: 5px;
    display: block;
    margin: 15px auto;
}
