* {
    transition: all 0.4s;
}

body {
    background-color: white;
}

.main {
    width: 80%;
    margin: 0 auto;
}

h1, h3 {
    text-transform: uppercase;
}

.head-section {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.caption {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    color: #898f99;
    height: 9px;
}

.title {
    font-family: 'Montserrat', sans-serif;;
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    line-height: 0.63;
    color: #0ec8cb;
}

.sub_title {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    color: #999999;
    line-height: 1.67;
    text-transform: uppercase;
}

p {
    height: 101px;
    margin: 33px 0 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #777777;
    padding: 0 10%;
}

.services-item {
    cursor: pointer;
    color: #1b1b1b;
    display: inline-block;
    width: 25%;
    margin-right: -4px;
    text-align: center;
    background-color: #f7f7f7;
    padding: 63px 0 94px 0;
    border: solid 1px #ececec;
    box-sizing: border-box;
}

.services-item:hover, .services-item:hover p {
    background-color: #0ec8cb;
    color: #fff;
    cursor: pointer;
}

.services-item .img-hover {
    display: none;
}

.services-item:hover .img-hover {
    display: inline;
}

.services-item:hover .img-default {
    display: none;
}