body {
    background-color: #FFFFFF;
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
    line-height: 1.3;
}

header {
    background-color: #B31722;
    -webkit-text-fill-color: #FFFFFF;
    text-align: center;
    height: 40px;
    margin: 40px -8px 35px 0;
}
.no_decore1
{text-decoration: none}

.main_picture {
    width: 100%;
}

.imgs_wrapper {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

.imgs_wrapper img {
    border-style: dashed;
    margin-right: 2px;
}

footer {
    background-color: #000000;
    font-size: 20px;
    height: 30px;
    margin: 40px -8px 35px 0;
    -webkit-text-fill-color: #FFFFFF;
    text-align: -webkit-center;

}

.container {
    margin-right: 20px;
}