*{
    font-family: 'Lato', sans-serif;
}
/*Section header start*/
.section__header {
    width: 1920px;
    height: 1072px;
    background-image: url("../media/hero-bg.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-color: #cccccc;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.header__working{
    font-weight: bold;
    font-size: 54px;
    letter-spacing: 8.64px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 55px;
}
.header__title{
    font-size: 15px;
    letter-spacing: 0.9px;
    color: #ffffff;
    width: 579px;
    height: 70px;
    text-align: center;
}
.scroll{
    margin-top: 245px;
}
.logo--eclipse{
    margin-bottom: 70px;
}
/*Module test*/


/*Module test*/
/*Section header end*/
.module__top{
    width: 1920px;
    height: 600px;
    background-color: #ffffff;
    color: #3c3c3c;
}
.top__content{
    font-weight: bold;
    font-size: 34px;
}
.module__contents{
    font-weight: lighter;
    font-size: 16px;
    text-align: center;

}
.section__title--white,
.section__subtitle--white {
    color: white;
}
/*Section test*/
.section__about{
    width: 902px;
    height: 312px;
    position: relative;
    border-right: solid 2px #3c3c3c;
    border-bottom: solid 2px #3c3c3c;
    border-left: solid 2px #3c3c3c;
    border-radius: 3px;
    box-sizing: padding-box;
    margin: 160px 510px 159px 508px;
    padding: 77px 171px 29px 178px;
}
.section__top-title{
    cursor: move;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.section__top-title::before {
    border-radius: 3px 0 0 0;
    display: block;
    content: "";
    flex: 2 0 0;
    height: 1px;
    border-top: solid 2px #3c3c3c;
}
.section__top-title::after {
    border-radius: 0 3px 0 0;
    display: block;
    content: "";
    flex: 2 0 0;
    height: 1px;
    border-top: solid 2px #3c3c3c;
}
.section__title {
    height: 48px;
    color: #3c3c3c;
    font-size: 34px;
    font-weight: bold;
    overflow: hidden;
    flex: 1 0 235px;
    margin-top: -31px;
    text-align: center;
}
.section__subtitle {
    height: 100%;
    width: 100%;
}
/*Section services start*/
.section__services{
    height: 500px;
    background-color: #ffffff;
    background-image: url(../media/services.png);
    background-repeat: no-repeat;
    background-size: auto;
}
/*Section services end*/

/*Section what start*/
.section__what{
    height: 1422px;
    background-color: #ffffff;
}
/*Section what end*/

/*Section slider start*/
.section__slider {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    height: 489px;
}

.slider__tab{
    width: 548px;
    height: 237px;

}
.slider__tab1{
    width: 802px;
    height: 237px;

}
.tab__1{
    background-image: url("../media/topworkz.png");

}
.tab__3{
     background-image: url("../media/joint.png");
 }
.tab__2{
    background-image: url("../media/market.png");
}

.tab__5{
    background-image: url("../media/worktop.png");
}
.tab__4{
    background-image: url("../media/label.png");
}

.tab__6{
    background-image: url("../media/kyiv.png");
}
/*Section slider end*/