#auth_page {
    background: white;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;

}

.form {
    background-image: url("../img/background.png");
    background-size: cover;
    width: 400px;
    height: 495px;
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    box-shadow: 0 10px 13px -7px #000000, 0 27px 15px -6px rgba(56, 56, 56, 0.5);
}

* {
    text-align: left;
}

.form__header div,
.form__footer div {
    display: inline-block;
}

.form__sign,
.form__join {
    color: #fbf6e4;
    font-size: 18px;
    flex-direction: row;
    margin-top: 50px;
    margin-right: 25px;
}

.form__user{
    margin-top: 60px;
}

.form__sign,
.form__join,
.form__pass,
.form__user,
.form__check,
.form__button {
    font-weight: bold;
}


.form__pass,
.form__user {
    font-size: 16px;
}

.form__pass,
.form__user,
.form__check {
    color: #fbf6e4;

}

#Password,
#username{
    background-color: transparent;
    border: solid 2px rgba(191, 185, 204, 0.54);
    margin-top: 8px;
    width: 260px;
    height: 40px;
}
.form__pass{
    margin-top: 10px;
}
/*label{*/
/*    margin-bottom: 5px;*/

/*}*/
.form__check{
    margin-bottom: 35px;
    margin-top: 20px;
}

.form__button {
    background-color: #23ae92;
    border: none;
    color: white;
    padding: 13px 102px 12px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width: 261px;
    height: 42px;
}
.form__footer{
    width: 261px;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}
.footer__forgot,
.footer__create {
     font-weight: normal;
     color: #b9b9cc;
     font-size: 13px;
    border-bottom: 1px solid;
    opacity: 0.91;
 }
.footer__forgot{

}
.footer__create{

}
/*Checkbox start*/
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #23ae92;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 4px;
    top: 1px;
    width: 5px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
